@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-primary: 0, 0, 0;
  --bg-color-primary: 255, 255, 255;

  --color-primary-900: 50, 42, 8;
  --color-primary-800: 99, 84, 15;
  --color-primary-700: 149, 127, 23;
  --color-primary-600: 198, 169, 30;
  --color-primary-500: 248, 211, 38;
  --color-primary-400: 249, 218, 71;
  --color-primary-300: 250, 224, 103;
  --color-primary-200: 251, 231, 136;
  --color-primary-100: 252, 237, 168;
  --color-primary-50: 254, 251, 233;
  --color-primary: var(--color-primary-500);

  --padding-primary: 16px;

  --bottom-nav-height: calc(56px + 40px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--text-color-primary));
  background-color: rgb(var(--bg-color-primary));
}

main {
  padding-bottom: var(--bottom-nav-height);
}

.container {
  width: 100%;
  max-width: 1024px;
  padding-left: var(--padding-primary);
  padding-right: var(--padding-primary);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

.skeleton {
  border-radius: 12px;
  background-color: rgb(229 231 235);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
